VITE_PRICE_API_URL = http://localhost:3000/api/price
VITE_INSTRUCTOR_API_URL = http://localhost:3000/api/instructor
VITE_INSTRUCTOR_API_CPF_URL = http://localhost:3000/api/instructor/by-cpf
VITE_INSTRUCTOR_API_CNPJ_URL = http://localhost:3000/api/instructor/by-cnpj
VITE_INSTRUCTOR_API_USER_ID_URL = http://localhost:3000/api/instructor/by-user-id
VITE_USER_API_URL = http://localhost:3000/api/user
VITE_AUTH_API_URL = http://localhost:3000/api/auth
VITE_INSTRUCTOR_SEARCH_API_URL = http://localhost:3000/api/instructor/search

VITE_CLOUDINARY_URL=cloudinary://<your_api_key>:<your_api_secret>@dsvrferib
VITE_CLOUDINARY_API_KEY=
VITE_CLOUDINARY_API_SECRET=
VITE_CLOUDINARY_NAME=

VITE_PAGE_SIZE = 5

VITE_TOKEN_VAR = auth_jwt_token
VITE_ID_VAR = auth_user_id
VITE_EMAIL_VAR = auth_email
VITE_ROLE_VAR = auth_role
VITE_PROFILE_VAR = selected_profile

VITE_BRASIL_API_CEP_URL = https://brasilapi.com.br/api/cep/v1/

VITE_IBGE_API_CITIES_START = https://servicodados.ibge.gov.br/api/v1/localidades/estados/
VITE_IBGE_API_CITIES_END = /municipios?orderBy=nome

VITE_IBGE_API_MICROREGIONS_START = https://servicodados.ibge.gov.br/api/v1/localidades/microrregioes/
VITE_IBGE_API_MICROREGIONS_END = /municipios?orderBy=nome